@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";
@import "./utils/animations";

@import "./base/base";
@import "./base/typography";
@import "./layout/header";
@import "./layout/footer";

@import "./components/buttons";
@import "./pages/accueil/cards";
@import "./pages/accueil/fonctionnement";
@import "./pages/restaurants/menu";

/**********Section 1**********/
/*Ne change pas en responsive*/

.location {
    @include horizontal-center-position;
    height: 50px;
    gap: 10px;
    background-color: $bg-location;

    i {
        font-size: 16px;
    }

    input {
        border: none;
        background-color: transparent;
        font-size: 15px;
        width: 120px;
    }
}

/**********Section 2**********/
/*Ne change pas en responsive*/

.top {
    @include vertical-display;
    height: auto;
    align-items: center;
    padding: 45px 30px 45px 30px;
    background-color: $bg-top;

    &__introduction {
        @include vertical-center-position;
        gap: 10px;

        h1 {
            font-size: 20px;
            text-align: center;
            font-weight: 900;
        }

        p {
            font-size: 15px;
            @media screen and (min-width:768px){
                font-size: 16px;
            }
            font-weight: 300;
            text-align: center;
            margin-bottom: 32px;
        }
    }
}




