@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";
@import "./utils/animations";

@import "./base/base";
@import "./base/typography";
@import "./layout/header";
@import "./layout/footer";

@import "./components/buttons";
@import "./pages/accueil/cards";
@import "./pages/accueil/fonctionnement";
@import "./pages/restaurants/menu";

.loading
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg,transparent,transparent 40%, (#9356dc, #ff79da));
    animation: animate 2s linear infinite;
}
@keyframes animate
{
    0% 
    {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
        filter:hue-rotate(360deg);
    }
}
.loading::before
{
    content:"";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom:6px;
    background:white;
    border-radius:50%;
    z-index:1000;
}

.loading::after{

    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom:0px;
    background:linear-gradient(45deg,transparent,transparent 40%, (#9356dc, #ff79da));
    border-radius: 50%; 
    z-index:1000;
    z-index: 1;
    filter: blur(30px);
}

/**********Section 1**********/
.location

/*pb pour centrer */
    {
    @include horizontal-center-position;
    height: 50px;
    gap: 10px;
    background-color: $bg-location;

    i {
        font-size: 16px;
    }

    input {
        border: none;
        background-color: transparent;
        font-size: 15px;
        width: 120px;
        /*cliquable ? */
    }
}

/**********Section 2**********/
.top {
    @include vertical-display;
    height: 270px;
    align-items: center;
    padding: 45px 30px 45px 30px;
    background-color: $bg-top;

    &__introduction {
        @include vertical-center-position;
        gap: 10px;

        h2 {
            font-size: 20px;
            text-align: center;
            font-weight: 900;
        }

        p {
            font-size: 15px;
            font-weight: 300;
            text-align: center;
            margin-bottom: 32px;
        }
    }
}


/*************Section 3 function**********/
.function {
    @include vertical-display;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 45px 20px 55px 20px;
    align-items: center;

    &__list {
        @include vertical-display;
        @include reset-list;
        width: 100%;
        gap: 20px;

        li {
            @include row-display;
            width: auto;
            height: 70px;
            align-items: center;
            border: 2px solid $bg-top;
            position: relative;
            gap: 20px;
            /*problème alignement icones et p */
            background-color: white;
            box-shadow: $box-shadow;
            border-radius: 25px;

            p {
                font-weight: 700;
                font-family: roboto;
            }
        }

        //li :hover violet clair à faire

    }
}

/*Nombres*/
.number {
    @include horizontal-center-position;
    @include number-circle;
    font-size: 13px;
    margin-left: -15px;
    border: 1px solid $colour-primary;
    background-color: $colour-primary;
    color: $number-color;
}

/*Icônes*/
.icon {
    @include horizontal-center-position;
    color: $icon-color;
    font-size: 17px;

    :hover {
        color: $colour-primary;
    }
}