@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";
@import "./utils/animations";

@import "./base/base";
@import "./base/typography";
@import "./layout/header";
@import "./layout/footer";

@import "./components/buttons";
@import "./pages/accueil/cards";
@import "./pages/accueil/fonctionnement";
@import "./pages/restaurants/menu";






/**********Section 1**********/
.location

/*pb pour centrer */
    {
    @include horizontal-center-position;
    height: 50px;
    gap: 10px;
    background-color: $bg-location;

    i {
        font-size: 16px;
    }

    input {
        border: none;
        background-color: transparent;
        font-size: 15px;
        width: 120px;

        /*cliquable */
       
    }
}

/**********Section 2**********/
.top {
    @include vertical-display;
    height: 290px;
    align-items: center;
    padding: 45px 30px 45px 30px;
    background-color: $bg-top;

    &__introduction {
        @include vertical-center-position;
        gap: 10px;

        h2 {
            text-align: center;
            font-weight: 900;
        }

        p {
            font-size: 18px;
            font-weight: 300;
            text-align: center;
            margin-bottom: 32px;
        }
    }
}


/*************Section 3 function**********/
.function {
    @include vertical-display;
    height: 500px;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 70px;

    &__list {
        @include vertical-display;
        @include reset-list;
        align-items: center;
        gap: 20px;

        li {
            @include row-display;
            width: 340px;
            height: 75px;
            align-items: center;
            border: 2px solid $bg-top;
            position: relative;
            gap: 30px;
            /*problème alignement icones et p */
            background-color: $bg-top;
            box-shadow: $box-shadow;
            border-radius: 25px;

            p {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}

.number {
    @include horizontal-center-position;
    @include number-circle;

    margin-left: -15px;
    border: 1px solid $colour-primary;
    background-color: $colour-primary;
    color: $number-color;
}

.icon {
    @include horizontal-center-position;
    @include icon-size;
    color: $icon-color;
    font-size: 25px;


    :hover {
        color: $colour-primary;
    }
}