footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px ;
    background-color: aqua;
}
.footer__logo >img
{
    color: white;
}

.footer__logo{
color: white;
}

.footer__info{
    display: flex;
    flex-direction: column;
    ul{
        list-style-type: none;
    li{
        display: flex;
        flex-direction: row;       
    }
}
}
