@charset "UTF-8";
/*Police*/
/*Couleurs principales*/
/*Couleur hover liste fonctionnement*/
/*Nuances de gris*/
/*Bouton*/
/*Dégradé de clouleur*/
/*Cartes*/
/*Ombre*/
/*Icônes*/
/*Numéros*/
/*Footer*/
/*Reset*/
/*Disposition*/
/*Coeur*/
/*Nombres*/
/**********Loader************/
.div_loading {
  /*conteneur*/
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /*le loader apparaît en premier plan avant l'apparition de la page accueil*/
  animation: div_loading 4s linear 500ms forwards;
}
.div_loading .loading {
  /*loader*/
  width: 180px;
  height: 180px;
  z-index: 1000;
  border-radius: 50%;
  border: #99e2D0 3px solid;
  background: linear-gradient(45deg, transparent, transparent 40%, #9356DC, #ff79DA);
  /* dégradé de couleurs avec un transparaence à 40% */
  animation: animate 4s linear 500ms forwards;
  /*le loader apparaît pdt 4s, tourne avec un rythme régulier (linear) et démarre après un délai de 500ms*/
}
.div_loading .loading::before {
  content: "";
}
.div_loading .loading::after {
  z-index: 1;
  filter: blur(40px);
  /*application d'un flou*/
}
.div_loading .loading::after + .div_loading {
  z-index: 0;
}

@keyframes div_loading {
  to {
    transform: translate3d(0, -4rem, 0);
    /*déplace un élément dans l'espace 3D*/
    color: #99e2D0;
    opacity: 0;
    /*opacité 0, élément invisible*/
    visibility: hidden;
  }
}
@keyframes animate {
  /*étapes qui composent l'animation*/
  0% {
    transform: rotate(0deg);
    /*Début de rotation à 0deg, loader visible*/
  }
  75% {
    opacity: 0.4;
    /*Diminution de l'opacité*/
  }
  99% {
    /*Augmentation de la taille du loader avant de disparaître*/
    width: 200px;
    height: 200px;
  }
  100% {
    /*Disparition du loader à 360deg*/
    opacity: 0;
    width: 0px;
    height: 0px;
    transform: rotate(360deg);
  }
}
.primary-content {
  /*correspond à la page accueil*/
  animation: fade-in 4s forwards;
  /*effet de transition au moment du chargement de la page*/
  opacity: 0;
}

@keyframes fade-in {
  /*page accueil qui apparaît progressivement*/
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/**********Animations page restaurant**********/
/*Animation prix et icône "check" qui tourne*/
.check {
  background-color: #99e2D0;
  margin-right: -60px;
  /*1.permet de décaler l'élément à doite*/
  width: 60px;
  transition: 400ms ease-in-out;
  /*début et fin lents sur 400ms*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /*l'élément n'est pas autorisé à se rétrécir*/
}
.check i {
  color: white;
  font-size: 20px;
}

.dish:hover .check {
  margin-right: 0;
  /*2.la div check passe d'une margin-right de -60px à 0px et donc se décale sur la gauche*/
}
.dish:hover i {
  /*icône check*/
  animation: rotation 500ms ease-in-out;
  /*2.rotation pendant 500ms avec début et fin lents*/
}

@keyframes rotation {
  /*rotation de 360degrés*/
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/**********Animation menu qui apparaît progressivement dans la page restaurant**********/
@keyframes appear {
  0% {
    opacity: 0;
    /*1.élément non visible*/
    transform: translateY(30%);
    /*1.se déplace verticalement de 30%*/
  }
  100% {
    opacity: 1;
    /*2.devient visible*/
    transform: translateY(0%);
    /*pas de déplacement vertical=se fixe*/
  }
}
/*Délai d'apparition des éléments*/
.dish:nth-child(2) {
  animation-delay: 0.2s;
}

.dish:nth-child(3) {
  animation-delay: 0.5s;
}

#bloc-page {
  width: 100%;
  margin: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 19px;
  color: black;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 15px;
}

h1, h2, h3, h4, p {
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/***********Header page accueil**********/
header {
  display: flex;
  width: 100%;
  height: 65px;
  box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__logo img {
  width: 160px;
}

/**********Header page restaurant**********/
header {
  align-items: center;
  box-shadow: none;
  padding: 0 25px 0 25px;
}

header i {
  font-size: 23px;
}

/**********Footer**********/
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 195px;
  gap: 10px;
  padding: 20px 20px;
  background-color: #353535;
  bottom: 0;
}
footer > p {
  font-size: 20px;
  color: #f0f0f0;
  font-family: "shrikhand", sans-serif;
  margin-bottom: 8px;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer ul li {
  background-color: transparent;
}
footer ul li a {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
footer ul li a i {
  width: 15px;
  font-size: 12px;
  color: #f0f0f0;
}
footer ul li a p {
  color: #f0f0f0;
  font-size: 16px;
}
footer ul li:hover {
  background-color: transparent;
}

.footer__info {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Boutons explorer nos restaurants et commander*/
.gradient-button {
  width: 250px;
  height: 45px;
  color: #f0f0f0;
  background: linear-gradient(357deg, rgb(169, 93, 220) 2%, rgb(255, 121, 218) 91%);
  border-radius: 40px;
  border: none;
  font-size: 16px;
}
.gradient-button--smaller {
  width: 175px;
}
.gradient-button--center {
  display: block;
  margin: auto;
}
.gradient-button:hover {
  filter: brightness(110%);
  box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.1);
  transition: 400ms ease-in-out;
  cursor: pointer;
}

/*Bouton commander*/
.order {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: rgb(241, 237, 233);
}

/***********Section 4:restaurants**********/
.resto {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #F6F6F6;
  padding: 45px 20px 45px 20px;
}

.resto__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .resto__container {
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .resto__container {
    /*Responsive tablette et desktop*/
    display: flex;
    flex-direction: row;
    /*Disposition horizontale*/
    gap: 29px;
    flex-wrap: wrap;
    /*Retour à la ligne*/
  }
}
.resto__container__card {
  box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
  background-color: white;
}
@media screen and (max-width: 767px) {
  .resto__container__card {
    width: 100%;
    height: 200px;
  }
}
@media screen and (min-width: 768px) {
  .resto__container__card {
    width: 48%;
    /*Ajout d'une largeur fixe de carte*/
    height: 250px;
  }
}

.photo {
  display: flex;
  width: 100%;
  height: 75%;
  text-decoration: none;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

span {
  color: #278870;
  position: absolute;
  top: 15px;
  right: 15px;
  border: 1px solid #99e2D0;
  background-color: #99e2D0;
  padding: 6px 10px;
  font-size: 17px;
  font-weight: bolder;
  border-radius: 3px;
  font-family: "roboto", sans-serif;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25%;
}

.info a {
  padding: 10px 10px 10px 10px;
}

.info a p {
  font-size: 16px;
}

.info a h3 {
  font-weight: bolder;
}

.heart {
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
}

.heart:hover i {
  font-weight: bold;
  /*1.Ajout pour pouvoir remplir d'une couleur=coeur noir"*/
  -webkit-text-fill-color: transparent;
  /*2.On rend transparent le bold=coeur transparent*/
  background: linear-gradient(357deg, rgb(169, 93, 220) 2%, rgb(255, 121, 218) 91%);
  /*3.Ajout du dégradé de couleur=carré de couleur dégradé*/
  -webkit-background-clip: text;
  /*4.l'arrière-plan est limité à l'icône= coeur avec couleur*/
  transition: 400ms ease-in-out;
  /*durée de transition de 400ms et départ et fin lents*/
}

/*************Section 3 function**********/
.function {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 20px;
  padding: 45px 20px 55px 20px;
}
@media screen and (min-width: 1024px) {
  .function {
    height: 210px;
  }
}
.function__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  gap: 20px;
  padding-left: 15px;
}
@media screen and (min-width: 1024px) {
  .function__list {
    display: flex;
    flex-direction: row;
    /*Responsive desktop : dispo horizontale*/
    justify-content: space-between;
  }
}
.function__list li {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 70px;
  align-items: center;
  position: relative;
  gap: 20px;
  background-color: #F6F6F6;
  box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
@media screen and (min-width: 1024px) {
  .function__list li {
    width: 30%;
    /*Responsive desktop : largeur fixée*/
  }
}
.function__list li:hover {
  cursor: pointer;
  background-color: #f2eafb;
}

/*Nombres*/
.number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 500;
  margin-left: -13px;
  border: 1px solid #9356DC;
  background-color: #9356DC;
  color: #f0f0f0;
}

.font {
  font-weight: 600;
}
@media screen and (min-width: 1023px) {
  .font {
    font-size: 16px;
  }
}

/*Icônes*/
.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #808080;
  font-size: 17px;
}

.icon:hover {
  cursor: pointer;
  background-color: #f2eafb;
  color: #9356DC;
}

/**********Restaurant**********/
.restaurant {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.883);
  position: relative;
}

.heart:hover i {
  font-weight: bold;
  /*1.Ajout pour pouvoir remplir d'une couleur=coeur noir"*/
  -webkit-text-fill-color: transparent;
  /*2.On rend transparent le bold=coeur transparent*/
  background: linear-gradient(357deg, rgb(169, 93, 220) 2%, rgb(255, 121, 218) 91%);
  /*3.Ajout du dégradé de couleur=carré de couleur dégradé*/
  -webkit-background-clip: text;
  /*4.l'arrière-plan est limité à l'icône= coeur avec couleur*/
  transition: 400ms ease-in-out;
  /*durée de transition de 400ms et départ et fin lents*/
}

.menu {
  background-color: rgb(241, 237, 233);
  width: 100%;
  height: 100%;
  padding: 0 10px 0px 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .menu {
    flex-direction: row;
    justify-content: space-between;
  }
}

.menu__kind {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 1024px) {
  .menu__kind {
    width: 30%;
    /*Responsive desktop:taille fixe des cartes*/
    gap: 20px;
    /*Responsive desktop:augmentation de l'espace*/
  }
}
.menu__kind__submenu {
  margin: 0 10px 0px 10px;
  padding-bottom: 4px;
  border-bottom: solid;
  width: 50px;
  color: #99e2D0;
  border-bottom-width: 3.5px;
}
.menu__kind__submenu h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .menu__kind__submenu h2 {
    font-size: 20px;
    /*Responsive desktop*/
  }
}
.menu__kind__container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 1023px) {
  .menu__kind__container {
    gap: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .menu__kind__container {
    gap: 25px;
  }
}

.dish {
  /*Cartes*/
  display: flex;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: white;
  box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  animation: appear 1s;
  animation-fill-mode: both;
}
@media screen and (max-width: 1023px) {
  .dish {
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  .dish {
    height: 80px;
    /*Responsive desktop : augmentation hauteur cartes pour le visuel*/
  }
}
.dish__info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 3px;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish__info h3,
.dish__info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish__info p {
  font-weight: 400;
}

.price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

/**********Section 1**********/
/*Ne change pas en responsive*/
.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 10px;
  background-color: #EAEAEA;
}
.location i {
  font-size: 16px;
}
.location input {
  border: none;
  background-color: transparent;
  font-size: 15px;
  width: 120px;
}

/**********Section 2**********/
/*Ne change pas en responsive*/
.top {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  padding: 45px 30px 45px 30px;
  background-color: #F6F6F6;
}
.top__introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.top__introduction h1 {
  font-size: 20px;
  text-align: center;
  font-weight: 900;
}
.top__introduction p {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .top__introduction p {
    font-size: 16px;
  }
}

/*# sourceMappingURL=accueil.css.map */
