/*Boutons explorer nos restaurants et commander*/

.gradient-button {
  width: 250px;
  height: 45px;
  color: $btn-txt-color;
  background: $radient-bg;
  border-radius: $btn-border-radius;
  border: none;
  font-size: 16px;

  &--smaller {
    width: 175px;
  }

  &--center {
    display: block;
    margin: auto;
  }

  &:hover {
    filter: brightness(110%);
    box-shadow: $box-shadow;
    transition: 400ms ease-in-out;
    cursor: pointer;
  }

}

/*Bouton commander*/
.order {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: rgb(241, 237, 233);
}