/**********Section 4:Restaurants**********/
.resto{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f2f2f2;
    padding: 60px 20px 60px 20px;
    &__titre{
    font-size: 19px;
    }
    &__container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;   
    gap: 20px;
    &__card{
    background-color: white;
    width: 100%;
    height:250px ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    position: relative;
    .img{
    display: flex;
    width:100%;
    height: 70%;
    text-decoration: none;
    img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    } 
    span{
    color: rgb(23, 125, 89);
    position:absolute;
    top:15px;
    right: 15px;
    border: 1px solid #99e2D0;
    background-color:#99e2D0;
    padding: 6px 10px;
    font-size: 17px;
    font-weight: bolder;
    border-radius: 3px;
    }
    }
    .info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    padding: 0px 20px 0 10px;
    a{
        margin-top: 0px;
    }
    }
    }
    }
}