/***********Section 4:restaurants**********/
.resto {
    width: 100%;
    height: auto;
    @include vertical-display;
    gap: 20px;
    background-color: $bg-top;
    padding: 45px 20px 45px 20px;
}

/*-----Responsive mobile-----*/
/*Cartes restaurants en colonne*/

@media screen and (max-width:767px) {

    .resto__container {
        @include vertical-display;
        width: 100%;
        height: 100%;
        gap: 20px;

        &__card {
            width: 100%;
            height: 200px;
            box-shadow: $box-shadow;
            border-radius: $cards-border-radius;
            position: relative;
            background-color: $cards-bg;
        }
    }
}

.photo {
    display: flex;
    width: 100%;
    height: 75%;
    text-decoration: none;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

span {
    color: $tagcard-darken-color;
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid $colour-tertiary ;
    background-color: $colour-tertiary;
    padding: 6px 10px;
    font-size: 17px;
    font-weight: bolder;
    border-radius: 3px;
    font-family: $txt-font-fa;
}

.info {
    @include row-display;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 25%;

}

.info a {
    padding: 10px 10px 10px 10px;
}

.info a p {
    font-size: 16px;
}

.info a h3 {
    font-weight: bolder;
}

.heart {
    @include heart-style;
}

.heart:hover i {
    @include heart-hover;
}


/*-----Responsive tablette et desktop-----*/
/*Les cartes restaurants apparaissent par 2 sur 2 lignes*/
@media screen and (min-width:768px) {
    .resto__container {
        @include row-display;/*Disposition horizontale*/
        width: 100%;
        height: 100%;
        gap: 29px;
        flex-wrap: wrap;/*Retour à la ligne*/

        /*pb leger vide à droite*/
        &__card {
            width: 48%;/*Ajout d'une largeur fixe de carte*/
            height: 250px;
            box-shadow: $box-shadow;
            border-radius: $cards-border-radius;
            position: relative;
            background-color: $cards-bg;
        }
    }
}