/**********section 3:Function**********/
.function {
    /*éléments p non alignés avec icones*/
    display: flex;
    flex-direction: column;
    height: 440px;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    &__function__steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*centré ou pas en responsive ?*/
    align-items: center;
    margin-right: 10px;
    gap: 20px;
    &__title
    {
    font-size: 20px;
    }
}}
.frame {
    display: flex;
    flex-direction: row;
    border: 2px solid #f2f2f2;
    width: 340px;
    height: 75px;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 30px;
    /*problème alignement icones et p */
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 40px 40px;}
.number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: -340px;
    border: 1px solid #9356DC;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #9356DC;
    color: white;
    }
.icone {
    color: green;
    font-size: 25px;
    }
.icone-purple {
    color: #9356DC;
    font-size: 25px;
    }
.font {
    font-weight: bold;
    }
    

  
.number
{
    color: red;
}
  
  