/*Reset*/
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Disposition*/
@mixin vertical-display {
    display: flex;
    flex-direction: column;
}

@mixin row-display {
    display: flex;
    flex-direction: row;
}

@mixin center-elements {
    justify-content: center;
    align-items: center;
}

@mixin vertical-center-position {
    @include vertical-display;
    @include center-elements;
}

@mixin horizontal-center-position {
    @include row-display;
    @include center-elements;
}

/*Coeur*/
@mixin heart-style {
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
}

@mixin heart-hover {
    font-weight: bold;/*1.Ajout pour pouvoir remplir d'une couleur=coeur noir"*/
    -webkit-text-fill-color: transparent;/*2.On rend transparent le bold=coeur transparent*/
    background: $radient-bg;/*3.Ajout du dégradé de couleur=carré de couleur dégradé*/
    -webkit-background-clip: text;/*4.l'arrière-plan est limité à l'icône= coeur avec couleur*/
     transition: 400ms ease-in-out;/*durée de transition de 400ms et départ et fin lents*/
}

/*Nombres*/
@mixin number-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}