/*Reset*/
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Disposition*/
@mixin vertical-display {
    display: flex;
    flex-direction: column;
}

@mixin row-display {
    display: flex;
    flex-direction: row;
}

@mixin center-elements {
    justify-content: center;
    align-items: center;
}

@mixin vertical-center-position {
    @include vertical-display;
    @include center-elements;
}

@mixin horizontal-center-position {
    @include row-display;
    @include center-elements;
}

/*Coeur*/
@mixin heart-style {
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
}

@mixin heart-hover {
    font-weight: bold;
    background: $radient-bg;
    background-clip: content-box;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    /*limite le contour de la lettre*/
    -webkit-text-fill-color: transparent;
    /*ce qui dépasse est transparent*/
    transition: 400ms ease-in-out;
}

/*Nombres*/
@mixin number-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}